[submodule "Microsphere-Utility-Scripts"]
	path = Microsphere-Utility-Scripts
	url = https://github.com/Moore-Lab/Microsphere-Utility-Scripts.git
[submodule "ESP32-stepper-controller"]
	path = ESP32-stepper-controller
	url = https://github.com/Moore-Lab/ESP32-stepper-controller.git
[submodule "analysis/Inertial-Sensing"]
	path = analysis/Inertial-Sensing
	url = https://github.com/eldarro/Inertial-Sensing.git
